body {

}


p {
   vert-align: top;
}

#search-bar {
   width: auto;
}

#search_area {
   -moz-min-width: 400px;
   -ms-min-width: 400px;
   -o-min-width: 400px;
   -webkit-min-width: 400px;
   min-width: 400px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

#search-results {
   height: 600px;
   overflow-y: scroll;
}

accordion .panel-body {
   padding: 0;
}

.card-list > p {
   border-left: 0;
   border-right: 0;
   border-top-left-radius: 0 !important;
   border-top-right-radius: 0 !important;
}

.card-list {
   margin-bottom: 0;
   border-bottom: 0;
}

.card_name {
   color: dodgerblue;
}

.card_number_input {
   width: 45px;
}
