<!DOCTYPE html>

<html ng-app="HearthstoneCollectionApp">
<head>
   <meta name="viewport" content="width=device-width"/>
   <link type="text/css" rel="stylesheet" href="../../Content/css/bootstrap.css"/>
   <link type="text/css" rel="stylesheet" href="../../Content/css/main.css"/>
   <script type="text/javascript" src="~/Content/js/lib/angular.js"></script>
   <script type="text/javascript" src="~/Content/js/src/application.js"></script>
   <script type="text/javascript" src="~/Content/js/src/CardSearch/CardSearchController.js"></script>
   <title></title>
</head>
<body>
<div id="search_area" ng-controller="CardSearchController">
   <div>
      <input type="text" width="100%" class="input-sm center-block" ng-model="cardSearch"/>
   </div>
   <h4>Classic Set</h4>

   <div class="list-group">
      <a class="list-group-item list-group-item-heading">
         Paladin
      </a>
      <p class="list-group-item" ng-repeat="card in cardsFromFile | cardSearchFilter:cardSearch:'Paladin'">
         <span class="card_name">{{card.name}}
         </span>
      </p>

   </div>

   <div class="list-group">
      <a class="list-group-item list-group-item-heading">
         Neutral
      </a>
      <p class="list-group-item" ng-repeat="card in cardsFromFile | cardSearchFilter:cardSearch:'Neutral'">
         <span class="card_name">{{card.name}}
         </span>
      </p>

   </div>


</div>
</body>
</html>