<!DOCTYPE html>

<html ng-app="HearthstoneCollectionApp">
<head>
   <meta name="viewport" content="width=device-width"/>
   <link type="text/css" rel="stylesheet" href="../../Content/css/bootstrap.css"/>
   <link type="text/css" rel="stylesheet" href="../../Content/css/main.css"/>
   <script type="text/javascript" src="~/Content/js/lib/angular.js"></script>
   <script type="text/javascript" src="~/Content/js/src/application.js"></script>
   <script type="text/javascript" src="~/Content/js/src/CardSearch/CardSearchController.js"></script>
   <title></title>
</head>
<body>
<div id="search_area" ng-controller="CardSearchController">
   <div>
      <input type="text" width="100%" class="input-sm center-block" ng-model="cardSearch"/>
   </div>

   <div class="list-group" ng-repeat="class in playerClassNames">
      <a class="list-group-item list-group-item-heading">
         {{class}}
      </a>
      <p class="list-group-item" ng-repeat="card in cardsFromFile | cardSearchFilter:cardSearch:class | orderBy:['cost', '-type', 'name']">
         <span class="card_name">{{card.name}}
         </span>
      </p>
   </div>


</div>
</body>
</html>